<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Centralizador.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Security.Cryptography.Xml.UseInsecureHashAlgorithms=true;Switch.System.Security.Cryptography.Pkcs.UseInsecureHashAlgorithms=true" />
		<AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=true" />
	</runtime>
 <applicationSettings>
  <Centralizador.WinApp.Properties.Settings>
      <setting name="ConfigurationFileIP" serializeAs="String">
          <value>WINDEV2108EVAL</value>
      </setting>
  </Centralizador.WinApp.Properties.Settings>
 </applicationSettings>
</configuration>