<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Centralizador.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Centralizador.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>

		<Centralizador.Models.Properties.Settings>
   <setting name="Centralizador_Models_CrSeed_CrSeedService" serializeAs="String">
    <value>https://palena.sii.cl/DTEWS/CrSeed.jws</value>
   </setting>
   <setting name="Centralizador_Models_GetTokenFromSeed_GetTokenFromSeedService"
    serializeAs="String">
    <value>https://palena.sii.cl/DTEWS/GetTokenFromSeed.jws</value>
   </setting>
   <setting name="Centralizador_Models_registroreclamodteservice_RegistroReclamoDteServiceEndpointService"
    serializeAs="String">
    <value>https://ws1.sii.cl/WSREGISTRORECLAMODTE/registroreclamodteservice</value>
   </setting>
  </Centralizador.Models.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<Centralizador.Models.Properties.Settings>
   <setting name="UIDRange" serializeAs="String">
    <value>147518</value>
   </setting>
   <setting name="DateTimeEmail" serializeAs="String">
    <value>01/17/2021 15:05:57</value>
   </setting>
  </Centralizador.Models.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>